<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input th:field="*{description}" />

    </div>

    <div class="form-group">
        <label th:for="issueId">Type</label>
        <select th:name="issueId">
            <option th:each="issue : ${issues}"
                    th:text="${issue.name}"
                    th:value="${issue.id}">
            </option>
        </select>
    </div>

    <input type="submit" value="Submit"/>
</form>

<p><a href="/issue">Define the issue</a></p>

</body>
</html>