<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <th>About Payleaf</th>
    <th>Signing up</th>
    <th>Saftey</th>
    <th>Account</th>
    <th>Goals</th>


    <tr>
        <td><a href="/support/about">What is Payleaf</a></td>
        <td><a href="/support/signup">How do I sign up</a></td>
        <td><a href="/support/security">How secure is Payleaf</a></td>
        <td><a href="/support/account">I can't access my account</a></td>
        <td><a href="/support/goals">How do I reach goals</a></td>
    </tr>

    <tr>
        <td><a href="/support/about">Is this Paylease?</a></td>
        <td><a href="/support/signup">How do I cancel?</a></td>
        <td><a href="/support/security">My account has been hacked!</a></td>
        <td><a href="/support/account">My friend wants to log in?</a></td>
        <td><a href="/support/goals">I've reached my goal. Now What?</a></td>
    </tr>

</table>



<p th:unless="${issues} and ${issues.size()}">No unresolved issues!</p>


<table class="table">

    <tr>
        <th>Issue</th>
        <th>Description</th>
        <th>User's name</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.description}"></td>
        <td th:text="${user.issue.getName()}"></td>
    </tr>

</table>

<a href="/support/add">Add User/Issue</a> |
<a href="support/remove">Remove User/Issue</a>

</body>
</html>