<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>

<div class="container">
    <h2 th:text="${title}">PayLeaf</h2>
    <ul>
        <li>
            <h3><span>First Header</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius adipisci, sed libero. Iste asperiores suscipit, consequatur debitis animi impedit numquam facilis iusto porro labore dolorem, maxime magni incidunt delectus est!</p>
        </li>
        <li>
            <h3><span>Second Header</span></h3>
            <p>Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandae labore quas adipisci esse, nulla tempore voluptatibus cupiditate, provident, atque.</p>
        </li>
        <li>
            <h3><span>Third Header</span></h3>
            <p>Possimus deserunt nisi perferendis, consequuntur odio et aperiam, est, dicta dolor itaque sunt laborum, magni qui optio illum dolore laudantium similique harum. Eveniet quis, libero eligendi delectus repellendus repudiandae ipsum.</p>
        </li>
        <li>
            <h3><span>Fourth Header</span></h3>
            <p>Vel nam odio dolorem, voluptas sequi minus quo tempore, animi est quia earum maxime. Reiciendis quae repellat, modi non, veniam natus soluta at optio vitae in excepturi minima eveniet dolor debitis inventore ad eveniet.</p>
        </li>
    </ul>
</div>

</body>
</html>